@font-face {
  font-display: swap;
  font-family: 'Inter';
  src:
    local('Inter'),
    url('Inter-Variable.woff2') format('woff2 supports variations');
    font-weight: 100 900;
}

@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  src:
    local('PressStart2P'),
    url('PressStart2P-Regular.woff') format('woff2');
    font-weight: 400;
}
